# Python
__pycache__/
*.py[cod]
*$py.class

# Environments
venv/
.env
.env.*   # si usas otros archivos de entorno

# IDE / Editor
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# SQLite / DB local
*.db
*.sqlite3
*.sqlite

# Logs
*.log

# Byte-compiled / cache
*.pyc
*.pyo
*.pyd

# Distribution / packaging
build/
dist/
*.egg-info/

# MacOS
.DS_Store

# Windows
Thumbs.db
